body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media print {
  body * {
    visibility: hidden;
  }
  #kycDocument,
  #kycDocument * {
    visibility: visible;
    zoom: 97%;
  }
  #personalDetails {
    min-width: 100vw;
    min-height: 100vh;
  }
  #documentDetails {
    margin-top: 100px;
    min-width: 100vw;
    min-height: 100vh;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}
